* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    background: rgba(8, 27, 41, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
    text-align: center;
}

h2 {
    color: goldenrod;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ededed;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #00aaff;
    border-radius: 5px;
    background: transparent;
    color: #ededed;
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
    color: #b0b0b0;
}

textarea {
    resize: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #ffe600;
    color: #081b29;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: orange;
}


@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
    
    input,
    textarea {
        font-size: 14px;
    }

    .btn {
        font-size: 16px;
    }
}

